@import url("/src/assets/fonts/stylesheet.css");
@import url("/node_modules/aos/dist/aos.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400; */
    font-size: 16px;

    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }

  #root {
    @apply max-w-[2560px] mx-auto overflow-hidden relative;
  }

  p {
    @apply mb-5 last:mb-0;
  }

  section {
    @apply py-5 md:py-10;
  }

  input,
  textarea,
  button {
    @apply focus-visible:outline-none;
  }

  [data-floating-ui-scroll-lock] nav {
    @apply pr-[15px];
  }
}
